## Heart Attack Rish Assessment
**Source**: https://www.kaggle.com/datasets/shriyashjagtap/heart-attack-risk-assessment-dataset/data

In [4]:
import kagglehub

dataset_path = "shriyashjagtap/heart-attack-risk-assessment-dataset"
path = kagglehub.dataset_download(dataset_path)

print("Path to the dataset:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/shriyashjagtap/heart-attack-risk-assessment-dataset?dataset_version_number=3...

100%|██████████| 48.8k/48.8k [00:00<00:00, 3.99MB/s]

Extracting files...
Path to the dataset: /Users/duongtuanhoang/.cache/kagglehub/datasets/shriyashjagtap/heart-attack-risk-assessment-dataset/versions/3

In [9]:
import pandas as pd
import os

In [10]:
datafiles = [os.path.join(path,file) for file in os.listdir(path) if os.path.isfile(os.path.join(path,file))]
print(f"Files in the dataset:\n {datafiles}")

# Load the dataset into a pandas DataFrame
df = pd.concat([pd.read_csv(file) for file in datafiles], ignore_index=True)
df.head()

Files in the dataset:
 ['/Users/duongtuanhoang/.cache/kagglehub/datasets/shriyashjagtap/heart-attack-risk-assessment-dataset/versions/3/updated_version.csv']

,age,sex,total_cholesterol,ldl,hdl,systolic_bp,diastolic_bp,smoking,diabetes,heart_attack
0,57,1,229.463642,175.879129,39.225687,124.070127,91.378780,0,0,0
1,58,1,186.464120,128.984916,34.950968,95.492552,64.355040,1,0,0
2,37,1,251.300719,152.347592,45.913288,99.519335,64.953147,0,1,0
3,55,1,192.058908,116.803684,67.208925,122.460002,73.821382,0,0,0
4,53,1,151.203448,107.017396,60.693838,123.022257,81.121946,0,1,0